@function rem($px) {
    @return $px / 100+rem;
}



.List-Header {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 48px;
    padding: 0 12px;
    background-image: linear-gradient(90deg, #006fb5, #1f8fd6);

    &-Back {
        width: 28px;
        height: 28px;
        background: url(../Img/back.svg) no-repeat center center;
        background-size: 20px;
    }

    h2 {
        color: #fff;
        font-size: 17px;

    }

    &-Menu {
        width: 28px;
        height: 28px;
        background: url(../Img/menu.svg) no-repeat center center;
        background-size: 20px;
    }

}

.List-long {
    box-sizing: border-box;
    width: 360px;
    padding: 0 19px;
}

.List-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 321px;
    height: 96px;
    padding-top: 10px;

    img {
        min-width: 115px;
        height: 84px;
        margin-right: 9.6px;
    }

    &-detail {
        overflow: hidden;

        h4 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: 29px;
            line-height: 29px;
            font-size: 13.8px;
            color: #000;
        }

        p {
            font-size: 13px;
            line-height: 19px;
            height: 56.6px;
            overflow: hidden;
            color: #8a8d99;
            text-indent: 2em;
        }

    }

}