@function rem($px) {
  @return $px / 100+rem;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fbfbfc;
  height: auto;
}

.clearfix {
  height: rem(62)
}

.home-input {
  border-radius: rem(20);
}

.home-header {
  position: fixed;
  top: 0;
  z-index: 20;
  background-image: linear-gradient(90deg, #006fb5, #1f8fd6);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: rem(390);
  height: rem(62);
  padding: rem(10) rem(13);

  h2 {
    font-size: rem(18.7);
    color: #fff;
  }

  &-menu-layout {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    margin-left: rem(195);
    width: 0;
    height: 100%;
    z-index: 21;
    transition: all .25s ease-in-out;
    overflow: hidden;

    .header-menu {
      position: absolute;
      left: rem(143);
      width: rem(247);
      background: rgba(0, 0, 0, .7);
      z-index: 22;
      top: 0;
      bottom: 0;
      overflow-y: auto;
      padding: rem(10) 0;

      .header-search {
        box-sizing: border-box;
        width: 247px;
        height: 55px;
        padding: 10px;
      }

      ul {
        box-sizing: border-box;
        width: rem(247);
        height: rem(383);
        padding-left: rem(20);

        li {
          width: rem(227);
          height: rem(37);
          line-height: rem(37);
          font-size: rem(16);
          color: #fff;
          border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        }
      }
    }

    .header-menu-mask {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, .7);
      z-index: 21;
      cursor: pointer;
    }
  }

  .logo {
    height: 100%;

    &-link {
      display: block;
      width: rem(125);
      height: 100%;
      background: url(http://m.iguanziben.com/image/logo.png) 50%/contain no-repeat;

      h1 {
        visibility: hidden;
      }
    }
  }

  &-btn {
    width: rem(20);
    height: rem(20);
    background: url(http://m.iguanziben.com/image/menu.svg) 20%/contain no-repeat;
  }

  &-drawer {
    height: rem(55);
    padding: rem(10);
  }

}

.header-menu-back {
  width: rem(30);
  height: rem(30);
  background: url(../Img/back.svg) 50%/.21rem no-repeat
}

.show {
  margin-left: rem(-195);
  width: rem(390);
}

#home_tabbar {
  display: flex;
  flex-direction: row;

  &_move {
    content: "";
    position: absolute;
    bottom: rem(2);
    left: rem(49);
    background-color: #3b9cd8;
    width: rem(32);
    height: rem(3);
  }
}

.home-tabbar {
  position: relative;
  width: rem(390);
  height: rem(37);
  margin-top: rem(10);
  display: flex;
  line-height: rem(37);

  .home-tab {
    width: rem(130);
    display: flex;
    justify-content: space-around;
    color: #646566;

    span {
      color: #000;
      font-size: rem(16);
      font-weight: 400;
    }
  }

  &-list {
    box-sizing: border-box;
    width: rem(390);
    padding: rem(10) rem(20);
  }
}


.home-swiper-img {
  width: rem(390);
  height: rem(208);
}

.home-section {
  box-sizing: border-box;
  width: rem(390);
  padding: rem(10) rem(20);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: rem(35);
    width: 100%;

    h2 {
      font-size: rem(16);
    }

    &-link {
      font-size: rem(12);
      color: #555;

      &::after {
        content: ">>";
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: rem(2);
      background-image: linear-gradient(-90deg, #3b9cd8, #5ab2e9);
    }
  }

  &-photo {
    padding: rem(10) rem(0) rem(0);
    display: flex;
    flex-direction: row;

    img {
      display: block;
      width: rem(125);
      height: rem(93);
      margin-right: rem(10);
    }
  }

}

.home-small-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: rem(30);
  color: #555;
  width: rem(350);

  &::before {
    content: " ";
    display: block;
    width: rem(4);
    height: rem(4);
    line-height: rem(4);
    background: #3b9cd8;
    border-radius: 50%;
    margin-right: rem(4);
  }

  span {
    width: rem(350);
    font-size: rem(14);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.home-section-photo-detail {
  h4 {
    height: rem(30);
    width: rem(213);
    line-height: rem(30);
    font-size: rem(14);
    overflow: hidden;
    color: #000;
  }

  p {
    width: rem(213);
    height: rem(63);
    line-height: rem(20);
    font-size: rem(12);
    color: #8A8D99;
    overflow: hidden;
    text-overflow: ellipsis;

  }

}

.home-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(12);
  height: rem(41);
  width: rem(390);
  color: #8a8d99;
  background: #eef5f9;

}